body {
    background-color: #121212;
}

#roomControls {
    text-align: center;
    position: relative;
}

.roomControlButton {
    background-color: #121212;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 25px;
}

.roomControlButton:hover {
    transition: 0.25s;
    background-color: white;
    color: black;
}

.roomControlButton:active {
    transition: 0.25s;
    background-color: black;
    color: white;
}

#roomNameBox {
    background-color: #121212;
}

#roomNameBox::placeholder {
    color: white;
}

#roomNameBox:focus {
    outline-style: solid;
    outline-color: #736d6f;
    border-color: #736d6f;
    transition: 0.25s;
    background-color: white;
    color: black;
}

#roomNameBox:focus:hover {
    color: black;
}

#roomNameBox:hover {
    color: white;
}

#roomNameBox::placeholder {
    color: lightgray;
}

#roomNameBox:focus::placeholder {
    transition: 0.25s;
    color: darkgray;
}

#container {
    margin: auto;
    text-align: center; 
}

#contentArea {
    overflow-y: auto;
    color: white;
    text-align: left;
    margin: auto;
    scrollbar-width: thin;
    height: 75vh;
    width: 75%;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #736d6f;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    height: 1px;
}

#textBox {
    text-align: left;
    margin: auto;
    overflow: auto;

    height: 2500px;
    width: 250px;
}

#msgInput {
    margin-left: auto;
    margin-right: 0;
}

.roomBox {
    border: 1px;
    border-style: solid;
    height: 25px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    transition: 0.25s;
    padding: 4px
}


.roomBox:hover {
    transition: 0.25s;
    background-color: lightgray;
    color: black;
    border-color: black;
    border-radius: 5px;
}


.roomBox:active {
    background-color: rgba(0, 0, 0, 0.7);
}

#msgInput {
    visibility: hidden;
    width: 75%;
    height: 15px;
    background-color: lightgray;
    border-style: none;
    border-radius: 25px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}